#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: left;
}

.header{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    border: 1px solid red;
}
.hamburger-wrapper {
    border: 1px solid red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-label{
    border: 1px solid black;

}
.hamburger-icon{
    border: 1px solid yellow;
}
main {
    margin: 40px 0 0 0;
    padding: 0 20px 0 20px;
    width: 100vw;
    max-width: 100%;
}

.mainImg_wrapper {
    width: 100vw;
    margin: 50px 0 0 0;
}
.mainImg {
    position: relative;
    width: 100%;
    height: auto;
}
.mainContent_Heading {
    color: black;
}
.mainContent_Text {
    color: #797984;
}
 .mainContent_Button {
    color: white;
    background: #F7694B;
}
aside {
    margin: 0 20px 0 20px;
    width: 100%;
    /*max-width: 100%;*/
    background: #040423;
}
.asideHeading {
    color: #F0B847;
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
}
.asideArticle {
    margin: 0 1rem 0 1rem;
}
.articleHeading{
    color: white;
}
.articleText {
    color: #797984;
}
.styleLine {
    border: 1px solid #797984
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.hamburger-checkbox
{
    display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

